@media (min-width: 1340px) {
    footer {
        display: flex;
        background-color: black;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 70vh;
        width: 100vw;
    }

    .li_contact_media {
        color: white;
        font-size: 0.8vw;
        list-style: none;
        margin: 0;
        width: 20px;
        height: 20px;
    }

    .info_contact_box_text {
        color: white;
        border-radius: 50%;
        font-size: 1vw;
    }

    .info_contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .info_contact_box {
        padding: 10px 100px;
        margin-right: 10px;
        border: white 1px solid;
        border-radius: 20px;
    }

    .info_contact_social {
        margin-top: 30px;
    }

    .li_footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        padding: 10px;
        border-radius: 10px;
        list-style: none;
        border: #ffffff 1px solid;
    }

    .ul_second_header_media {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .info_contact_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info_contact_title_h3 {
        font-size: 4vw;
        margin: 0;
        color: #fff;
    }

    .info_contact_title_p {
        font-size: 1vw;
        margin: 0;
        color: #4446c1;
    }

    .ul_second_header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .li_contact_perso {
        margin-bottom: 10%;
        width: 5vw;
        height: 5vw;
        border-radius: 50%;
    }
    .send_email {
        text-align: center;
    }
}

@media (max-width: 1340px) {
    footer {
        display: flex;
        background-color: black;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 20vh 0 0;
        height: 70vh;
        width: 100vw;
    }

    .li_contact_media {
        color: white;
        font-size: 0.8vw;
        list-style: none;
        margin: 0;
        width: 20px;
        height: 20px;
    }

    .info_contact_box_text {
        color: white;
        border-radius: 50%;
        font-size: 1vw;
    }

    .info_contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .info_contact_box {
        padding: 10px 100px;
        margin-right: 10px;
        border: white 1px solid;
        border-radius: 20px;
    }

    .info_contact_social {
        margin-top: 30px;
    }

    .li_footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 1vw;
        padding: 2vw;
        border-radius: 10px;
        list-style: none;
        border: #ffffff 1px solid;
    }

    .ul_second_header_media {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .info_contact_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info_contact_title_h3 {
        font-size: 4vw;
        margin: 0;
        color: #fff;
    }

    .info_contact_title_p {
        font-size: 1vw;
        margin: 0;
        color: #4446c1;
    }

    .ul_second_header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .li_contact_perso {
        margin-bottom: 10%;
        padding: 5vw 10vw;
        margin-left: 0;
        margin-right: 0;
        width: 5vw;
        height: 5vw;
    }
    .info  {

    }
}