@media (min-width: 1340px) {
    .presentation {
        background: -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%);
        background-size: 100% 50%;
        width: 100vw;
    }
    .presentation_title {
        color: white;
        font-size: 1vw;
        text-align: center;
        margin-bottom: 3vw;
        align-items: start;
    }

    .presentation_container {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .presentation_content_image {
        position: relative;
    }

    .presentation_image {
        border-radius: 20px;
        width: 30vw;
        height: 36vw;
    }

    .presentation_content {
        position: absolute;
        margin-top: 40%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .presentation_content_text {
        margin: 10px 10vw;
    }

    .presentation_text {
        color: white;
        font-size: 2vw;
        text-align: justify;
    }
}

@media (max-width: 1340px) {
    .presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 0 0 0;
        height: 80vw;
        background-color: black;
    }

    .presentation_content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100vw;
    }

    .presentation_content_image {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .presentation_content_text {
        margin: 10px 10px;
    }

    .presentation_text {
        color: white;
        font-size: 4vw;
        text-align: justify;
        margin: 10px 20px;
    }

    .presentation_image {
        width: 30vw;
        height: 36vw;
        border-radius: 20px;
    }
}